<h1> Showing selected article</h1>

<p>Title: <%= @article.title %></p>
<p>Desciption: <%= @article.description %></p>


<p><%= link_to 'Edit article', edit_article_path(@article) %></p>
<p><%= link_to 'Delete article', article_path(article), method: :delete, data: {confirm: 'Are your sure?'} %></p>
<p><%= link_to 'Back to articles listing', articles_path %></p>